{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "atom": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "max-len": [1, 120, { "tabWidth": 2, "ignoreComments": true }],
    "global-require": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off"
  }
}
