@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --button-height: calc(3.6 * var(--unit));
  --button-height-large: calc(5.4 * var(--unit));
  --button-offset: 0 var(--offset);
  --button-radius: var(--button-height);
}

.button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: 0;
  padding: var(--button-offset);
  font-weight: var(--font-weight-regular);
  border-radius: var(--button-radius);

  &.accent {
    background-color: var(--color-accent);
    color: white;

    &:hover,
    &:active {
      background-color: color(var(--color-accent) blackness(10%));
    }
  }

  &:not(.accent) {
    background-color: var(--color-primary);
  }

  &.large {
    width: 100%;
    height: var(--button-height-large);
    font-size: var(--font-size-large);
    line-height: var(--button-height-large);
  }

  &:not(.large) {
    height: var(--button-height);
    font-size: var(--font-size-normal);
    line-height: var(--button-height);
  }
}
