@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --footer-offset: calc(var(--offset) * 2) var(--offset);
}

.footer {
  padding: var(--footer-offset);
  font-size: var(--font-size-tiny);
  color: var(--color-text-secondary);
  text-align: center;
}
