@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --header-brand-height: calc(var(--unit) * 2.4);
}

.header {
  &, & .wrapper {
    height: var(--header-height);
  }

  & .wrapper {
    display: flex;
    align-items: center;
    @apply --wrapper;
  }

  & .brand {
    height: var(--header-brand-height);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra-bold);
  }

  & .navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-small);

    & > *:not(.button) {
      margin-left: var(--offset);

      &:not(button) {
        color: var(--color-text);
      }
    }
  }
}
