@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --item-background-hover: color(white blackness(2.5%));
  --item-label-font-size: calc(var(--font-size-tiny) * 0.85);
  --item-label-offset: calc(var(--unit) * 0.25) calc(var(--unit) * 0.25);
}

.joblistitem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--offset);
  color: var(--color-text);
  cursor: pointer;
  border-bottom: solid 1px var(--color-divider);

  @apply --box;

  /* -- children */
  & .new {
    display: none;
    position: absolute;
    top: var(--offset);
    left: calc(var(--offset) * -0.5);
    padding: var(--item-label-offset);
    font-size: var(--item-label-font-size);
    font-weight: var(--font-weight-extra-bold);
    background-color: var(--color-accent);
    color: white;
  }

  & .image {
    position: absolute;
    left: calc((var(--offset) * -1));

    @apply --avatar;
  }

  & .top {
    text-transform: uppercase;
    display: flex;

    & .category {
      color: var(--color-text-secondary);
      margin: 0 var(--offset);
      flex-grow: 1;

      &:hover {
        color: var(--color-accent);
      }
    }

    & .company {
    }
  }

  & .position {
    font-size: var(--font-size-normal);
    margin: calc(var(--offset) * 0.5) 0;
  }

  & .about {
    height: calc(var(--font-size-normal) * 2);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .top,
  & .about {
    color: var(--color-text-secondary);
    font-size: var(--font-size-small);
  }

  /* -- behaviors */
  &:hover {
    background-color: var(--item-background-hover);

    & .position {
      color: var(--color-accent);
    }
  }
}
