@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --item-offset: calc(var(--offset) * 1.5);
  --item-background: var(--color-background-body);
  --item-background-hover: color(var(--item-background) blackness(5%));
  --item-label-font-size: calc(var(--font-size-tiny) * 0.85);
  --item-label-offset: calc(var(--unit) * 0.25) calc(var(--unit) * 0.25);
  --item-image-size: calc(var(--unit) * 4.8);
}

.joblistitem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--item-offset);
  color: var(--color-text);
  border-bottom: solid 1px var(--color-divider);

  @apply --box;

  /* -- children */
  & .new {
    position: absolute;
    display: block;
    top: var(--offset);
    left: calc(var(--offset) * -0.5);
    padding: var(--item-label-offset);
    font-size: var(--item-label-font-size);
    font-weight: var(--font-weight-extra-bold);
    background-color: var(--color-accent);
    color: white;
  }

  & .image {
    display: none;
    width: var(--item-image-size);
    height: var(--item-image-size);
    background-color: var(--color-divider);
  }

  & .top {
    color: var(--color-text-secondary);
    text-transform: uppercase;
    display: flex;

    & .category {
      flex-grow: 1;
    }
  }

  & .position {
    font-size: var(--font-size-normal);
    margin: calc(var(--offset) * 0.5) 0;
  }

  & .about {
    height: calc(var(--font-size-normal) * 2);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* -- behaviors */
  &:hover {
    & .position {
      color: var(--color-accent);
    }
  }
}
