@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --landing-offset: calc(var(--offset) * 2) 0;
}

.landing {
  display: flex;
  padding: var(--landing-offset);
  align-items: center;

  & .wrapper {
    @apply --wrapper;
  }

  & .slogan {

  }
}
