@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";

:root {
  --landing-height: 60vh;
}
.landing {
  display: flex;
  align-items: center;
  height: var(--landing-height);
  background-color: var(--background-contrast);

  & .wrapper {
    @apply --wrapper;
  }

  &.slogan {

  }
}
