:root {
  --color-text: #524d4b;
  --color-text-secondary: #938f8d;
  --color-primary: #ffde00;
  --color-accent: #fc0271;
  --color-background-body: rgb(246, 246, 246);

  --color-divider: #d8d8d8;
}
