:root {
  --color-text: #3c3c3b;
  --color-text-secondary: #999;
  --color-primary: #ffde00;
  --color-accent: #fc0271;
  --color-background-contrast: #f5f5f5;
  --color-background-body: #fafafa;

  --color-divider: #cccccc;
}
