@import "../../styles/colors.css";
@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.jobs {
  display: flex;
  align-items: flex-start;
  margin: var(--offset) 0;

  & .list {
    width: 65%;
    background-color: white;
    flex-grow: 1;

    & > * {
      @apply --box;
    }
  }

  & aside {
    @apply --aside;
  }

  & .box {
    padding: var(--offset);
    min-height: 130px;

    @apply --box;
  }
}
