<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>/remoto/</title>
    <meta name="description" content="Remoto">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="stylesheet" href="/remoto.css">
  </head>
  <body>
    <div id="remoto">
      <div><%- markup -%></div>
    </div>

    <script id="store" type="application/json">
      <%- JSON.stringify(store) %>
    </script>
    <script src="/remoto.js"></script>

  </body>
</html>
