@import "../../styles/colors.css";
@import "../../styles/fonts.css";
@import "../../styles/variables.css";

:root {
  --job-divider: 0 1px var(--color-divider);
  --job-content-side-width: calc(var(--unit) * 128);
}

.job {
  display: flex;
  margin-top: var(--offset);

  & .box {
    @apply --box;
  }

  & .aside {
    @apply --aside;
  }

  & .content {
    line-height: 1.5;

    & > * {
      display: block;
    }
  }

  & .header {
    padding: var(--offset);
    box-shadow: var(--job-divider);

    & .date {
      text-transform: uppercase;
      font-size: var(--font-size-small);
      color: var(--color-text-secondary);
    }

    & .position {
      font-size: calc(var(--unit) * 3.2);
      margin: calc(var(--offset) / 2) 0;
    }

    & .company {
      position: relative;
      font-size: calc(var(--unit) * 2.4);
      margin-bottom: var(--offset);

      & .image {
        position: absolute;
        left: calc((var(--offset) * -1) - (var(--avatar-size) / 1.5));

        @apply --avatar;
      }

      & .name {
        color: var(--color-text);
      }
    }
  }

  & .text {
    padding: var(--offset);

    & * {
      font-size: var(--font-size-normal);
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5 {
      font-size: var(--font-size-large);
      line-height: var(--font-size-large);
      font-weight: var(--font-weight-bold);
      padding: var(--unit) 0;
      background-color: red;
    }

    & p {
      &:not(:first-child) {
        margin-top: var(--offset);
      }
    }

    & ul,
    & ol {
      padding: calc(var(--offset) / 2) var(--offset);
    }
  }
}
