:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Button_button_33eQm {
  position: relative;
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0 1.6rem;
  height: 3.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.24rem
}
.Button_button_33eQm.Button_accent_1iHfa {
  background-color: #fc0271;
  color: white
}
.Button_button_33eQm.Button_accent_1iHfa:hover, .Button_button_33eQm.Button_accent_1iHfa:active {
  background-color: rgb(230, 3, 105)
}
.Button_button_33eQm:not(.Button_accent_1iHfa) {
  background-color: #ffde00
}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Header_header_3d2jd {
}
.Header_header_3d2jd, .Header_header_3d2jd .Header_wrapper_1utZ8 {
  height: 5.6rem
}
.Header_header_3d2jd .Header_wrapper_1utZ8 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  max-width: 102.4rem;
  margin: 0 auto
}
.Header_header_3d2jd .Header_brand_3vGTq {
  height: 2.4rem;
  font-size: 2.4rem;
  font-weight: 900
}
.Header_header_3d2jd .Header_navigation_2WiPI {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 1.4rem
}
.Header_header_3d2jd .Header_navigation_2WiPI > *:not(.Header_button_3jHQ-) {
  margin-left: 1.6rem
}
.Header_header_3d2jd .Header_navigation_2WiPI > *:not(.Header_button_3jHQ-):not(button) {
  color: var(--color-text)
}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Footer_footer_3J6Ho {
  padding: 3.2rem 1.6rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #f5f5f5;
}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Landing_landing_2kl9D {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 60vh;
  background-color: #ffde00
}
.Landing_landing_2kl9D .Landing_wrapper_jjqlW {
  max-width: 102.4rem;
  margin: 0 auto
}
.Landing_landing_2kl9D.Landing_slogan_3kh2w {}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-touch-callout: none;
  width: 100%;
  color: #3c3c3b;
  background-color: #fafafa
}
body * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
}
@media print {
  body {
    background-color: white;
  }
  }
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
button,
abbr,
a,
span,
small {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
input:not([type='checkbox']):not([type='radio']),
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
  -webkit-touch-callout: none;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.35;
  opacity: 0.54;
}
h1 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.35;
}
h2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4.8rem;
}
h3 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem;
}
h4 {
  font-size: 2.4rem;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 3.2rem;
}
h5 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
}
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.4rem;
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Layout_layout_RRm1m {
  color: #3c3c3b
}
.Layout_layout_RRm1m .Layout_content_2Xjor {
  max-width: 102.4rem;
  margin: 0 auto;
}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Jobs_wrapper_1mVqK {
  padding: 1.6rem 0;
  max-width: 102.4rem;
  margin: 0 auto;
}
:root {
  /* - Font Family - */

  /* - Font Size - */

  /* - Font Height - */

  /* - Font Weight - */
}
:root {

  /* SIZES */

  /* SHADOWS */

  /* zIndex */

  /* Animation */

  /* Layout Dimensions */

  /* Common rules */
}
/* RWD */
.Job_job_2RN58 {
}
.Job_job_2RN58 .Job_header_3ZEiQ {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1.6rem 1.6rem 3.2rem 1.6rem;
  box-shadow: 0 1px #cccccc
}
.Job_job_2RN58 .Job_header_3ZEiQ .Job_title_287Z8 {
}
.Job_job_2RN58 .Job_header_3ZEiQ .Job_date_2cfBo {
  margin-bottom: 1.6rem
}
.Job_job_2RN58 .Job_content_2TDzL {
  display: -ms-flexbox;
  display: flex
}
.Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX {
  padding: 1.6rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX * {
  font-size: 1.6rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX h1, .Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX h2, .Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX h3, .Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX h4, .Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX h5 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1rem 0
}
.Job_job_2RN58 .Job_content_2TDzL .Job_text_g4yXX p {
  margin-bottom: 1.6rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_side_BOBUX {
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  width: 128rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_side_BOBUX .Job_social_qn7ge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1.4rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_side_BOBUX .Job_social_qn7ge > * {
  padding: 1rem
}
.Job_job_2RN58 .Job_content_2TDzL .Job_side_BOBUX .Job_social_qn7ge > *:not(:last-child) {
  box-shadow: 0 1px #cccccc
}
